
<%= form_with model: post do |f| %>
  <div class="form-inputs">
    <br/>
    Post Title
    <%= f.text_field :title, class:'form-control string' %>
    <br/>
    Post Caption
    <%= f.rich_text_area :caption %>
    <br/><br/>
    <%= f.label :image, class:'form-control' %>
        <%= f.file_field :image %>
    Make post public? <%= f.check_box :visibility %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
