<div class="container" style="margin-top: 2em">
    <div class="row">
        <div class="jumbotron" style="width:100%">
            <h1 class="display-4">
                <%= link_to @post.title, root_path %>
            </h1>
            <p class="lead">
                <%= @post.updated_at.strftime("%A, %B %e, %Y") %> by <%= @post.user.username %> | <%= pluralize(@post.views, "View") %> |
                <% if @post.visibility %>
                    Public
                <% else %>
                    Private
                <% end %>
            </p>
            <% if (current_user.eql? @post.user) || (current_user.admin) %>
                <div class="btn-group" role="group" aria-label="Alternative media's">
                    <% if current_user.eql? @post.user %>
                        <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %>
                    <% end %>
                    <%= link_to 'Remove Post', @post, method: :delete, data: { confirm: 'Are you sure you wish to permanently remove this post?' }, class:"btn btn-secondary" %>
                </div>
            <% end %>
            <hr class="my-4" />
            <div style="max-width: 100%; height: auto;  overflow-y:hidden">
                <%= image_tag(@post.image) %>
            </div>
            <hr class="my-4" />
            <div class="post_caption">
                <%= @post.caption %>
            </div>
        </div>
    </div>
</div>
